


body {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, red); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, red); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, red); /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, red); /* Standard syntax (must be last) */
  margin: 0 auto;
  }

header, footer {
  width: 95%;
  padding-left: 1%;
  padding-right: 1%;
    
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

main {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1%;
  padding-right: 1%;
  width: 95%;
  background-color: white;
}

.tp {
  padding-top: 1%;
}